*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    position: sticky;
}
.letter-d-img{
    width:10%;
}
.navbar-brand{    
    margin-left:10%;
    width: 16%;
    font-weight: 900;
    color: orange;
}
.home-nav{
    
}
.nav-item{
    font-size: smaller; 
}
#cart-btn {
    border: none;
    width: 3%;
    margin-right: 1%;
    background-image: url(images/basket.png);
    background-size:cover; /* Adjust as needed */
    background-repeat: no-repeat;
    background-position: center;
}
.cart-icon{
    width: 3%;
}
#sign-in{
    width: 35%;
}
.explore-food{
    border-radius: 16px;
    background: #F94A3D;
    padding: 1%;
}
header{
    width: 100vw;
    display: flex;
    padding: 10%;
}

.get-cousine{
    color: #212244;
font-family: Poppins;
font-size: 60px;
font-style: normal;
font-weight: 600;
line-height: 70px; /* 116.667% */
}
.your-door{
    color: var(--food-delivery-orange-color, #F94A3D);
font-family: Poppins;
font-size: 60px;
font-style: normal;
font-weight: 600;
line-height: 70px;
}
.satisfy{
    color: var(--food-delivery-p, #69697B);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 177.778% */
}
.why-we-best{
    color: var(--food-delivery-pg, #212244);
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 58px; /* 120.833% */
}
.about-us{
    display: flex;
    padding: 5% 10%;
}
.special-recipes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.special-recipes>h1{
    color: var(--food-delivery-pg, #212244);
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.item-images{
    display: flex;
    flex-direction: row;
}
.food-types{
    margin-bottom: 10%;
}
.sr{
    margin: 2%;
}